# Archivos y carpetas de sistema
bin/
obj/
*.user
*.lock
*.suo
*.pdb
*.log
*.vspscc
*.vssscc
.vscode/
.idea/
.ionide/

# Dependencias y compilación
node_modules/
dist/
build/
packages/
project.lock.json
project.assets.json
project.fragment.lock.json


# Archivos de Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm
Thumbs.db
*.aps
*.sdf
*.cache

# Publicaciones y despliegues
logs/